# Selenium
- a framework to automate a web browser.
- generally used for testing web applications.

# Installing Selenium :
&emsp;&emsp; `pip install selenium`

# Web Drivers
 
web Drivers in selenium connects the code(Python) with the real browsers.

In [ ]:
!pip install Selenium

In [88]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [ ]:
# creates a new browser
driver = webdriver.Chrome()

In [ ]:
#driver.get("https://www.google.com")
#driver.get("https://www.naukri.com")
driver.get("https://facebook.com")

In [ ]:
# to display the title of website
driver.title

In [ ]:
driver.close()

# Project : Scrape country details from wikipedia using selenium

In [89]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [25]:
driver= webdriver.Chrome()

In [26]:
driver.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages")

In [27]:
driver.title

'List of countries and dependencies and their capitals in native languages - Wikipedia'

In [14]:
all_tables=driver.find_elements(By.CLASS_NAME,"wikitable")

In [15]:
len(all_tables)

25

In [16]:
df = pd.DataFrame({}, columns=['Country', 'Capital', 'Language'])

<bound method WebDriver.maximize_window of <selenium.webdriver.chrome.webdriver.WebDriver (session="5bf226b7fa2c260a5165fe87afa2c6ef")>>

In [18]:
for one_table in all_tables:
    all_rows= one_table.find_elements(By.TAG_NAME,'tr')[1:]
    for tr in all_rows:
        all_tds = tr.find_elements(By.TAG_NAME,'td')

        country = all_tds[0].text
        capital = all_tds[1].text
        language = all_tds[-1].text

        ele = {'Country': country, 'Capital' : capital, 'Language' : language}
        
        #df = df.append(ele, ignore_index=True) # append method is removed from pandas
        df = pd.concat([df, pd.DataFrame([ele])], ignore_index=True)

In [ ]:
df

In [ ]:
import pandas as pd
import re

In [ ]:
df['Language']=df['Language'].apply(lambda x: x[:-1])

In [ ]:
df['Country'] =  df['Country'].apply(lambda x : re.sub('\[.*\]', "", x.rstrip()))

In [ ]:
df

In [ ]:
df.to_csv("Country_sel.csv",index=False)

In [28]:
driver.close()

# End of project

In [ ]:
#INSPECTION OF WEBSITE TO WEBSCRAPE THE DATA OF COLLEGE FROM THE WEBSITE

In [90]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [ ]:
driver=webdriver.Chrome()
driver.get("https://collegedunia.com/engineering-colleges")

In [92]:
college = driver.find_element(By.CSS_SELECTOR,'.jsx-2796823646, .jsx-1933831621')
all_colleges=college.find_elements(By.CSS_SELECTOR,'.listing-table')

In [99]:
trs=all_colleges[0].find_elements(By.CSS_SELECTOR,'.table-row')

In [110]:
trs[3].text

'#3\nIIT Bombay - Indian Institute of Technology - [IITB], Mumbai\nMumbai, Maharashtra |AICTE, UGC Approved\nB.Tech Computer Science Engineering\nJEE-Advanced 2023 Cutoff : 67\nApply Now\nDownload Brochure\nAdd To Compare\n₹ 2,29,300\nBE/B.Tech\n- 1st Year Fees\nCompare Fees\n₹ 21,82,000\nAverage Package\n₹ 3,67,00,000\nHighest Package\nCompare Placement\n8.8 / 10\nBased on 308 User\nReviews\nBest in Social Life\n#2th/35 in India\n2023\n+ 10 More'

In [113]:
img=trs[2].find_element(By.TAG_NAME,"img").get_attribute('data-src')

In [114]:
img

'https://images.collegedunia.com/public/college_data/images/logos/1705923383ParulUniversity11.png?h=43&w=43&mode=stretch'

In [115]:
trs[0].find_element(By.TAG_NAME,"h3").text

'IIT Madras - Indian Institute of Technology - [IITM], Chennai'

In [117]:
trs[0].find_element(By.TAG_NAME,"span").text

'Chennai, Tamil Nadu'

In [118]:
trs[0].find_elements(By.TAG_NAME,'td')[-2].find_element(By.TAG_NAME,"span").text

'8.5 / 10'

# Project: Scrape college details from CollegeDunia website using selenium

In [148]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import time
import pandas as pd
import re

In [121]:
driver=webdriver.Chrome()

In [122]:
driver.get("https://collegedunia.com/engineering-colleges")

In [123]:
df=pd.DataFrame({},columns=['Logo','Name', 'Location','Rating'])

In [124]:
df

Empty DataFrame
Columns: [Logo, Name, Location, Rating]
Index: []

<h3>Needs to scroll till bottom</h3>

In [130]:
for i in range(20):
    # scroll till bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # scroll till bottom - 1000 
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight-1000);")
    
    time.sleep(0.5)

In [131]:
college = driver.find_element(By.CSS_SELECTOR,'.jsx-2796823646, .jsx-1933831621')
all_colleges=college.find_elements(By.CSS_SELECTOR,'.listing-table')

In [129]:
len(all_colleges)

66

In [132]:

for college in all_colleges:
    trs=college.find_elements(By.CSS_SELECTOR,'.table-row')
    for tr in trs:
        Logo=tr.find_element(By.TAG_NAME,"img").get_attribute('data-src')
        Name=tr.find_element(By.TAG_NAME,"h3").text
        Location=tr.find_element(By.TAG_NAME,"span").text
        Rating=tr.find_elements(By.TAG_NAME,'td')[-2].find_element(By.TAG_NAME,"span").text
    
        e={'Logo':Logo,'Name':Name,'Location':Location}
        df=pd.concat([df,pd.DataFrame([e])],ignore_index=True)

In [133]:
df

,Logo,Name,Location,Rating
0,https://images.collegedunia.com/public/college...,IIT Madras - Indian Institute of Technology - ...,"Chennai, Tamil Nadu",NaN
1,https://images.collegedunia.com/public/college...,IIT Delhi - Indian Institute of Technology [II...,"New Delhi, Delhi NCR",NaN
2,https://images.collegedunia.com/public/college...,"Parul University, Vadodara",Featured,NaN
3,https://images.collegedunia.com/public/college...,IIT Bombay - Indian Institute of Technology - ...,"Mumbai, Maharashtra",NaN
4,https://images.collegedunia.com/public/college...,"MIT World Peace University - [MIT-WPU], Pune",Featured,NaN
...,...,...,...,...
496,https://images.collegedunia.com/public/college...,Indian Institute of Information Technology - [...,"Sonepat, Haryana",NaN
497,https://images.collegedunia.com/public/college...,"Atmiya University, Rajkot","Rajkot, Gujarat",NaN
498,https://images.collegedunia.com/public/college...,"Acropolis Group of Institutions, Indore","Indore, Madhya Pradesh",NaN
499,https://images.collegedunia.com/public/college...,"Pusa Institute of Technology, New Delhi","New Delhi, Delhi NCR",NaN
500,https://images.collegedunia.com/public/college...,"Avantika University, Ujjain","Ujjain, Madhya Pradesh",NaN

In [134]:
df.shape

(501, 4)

<h3>scraping all the images</h3>

In [136]:
img_urls=df['Logo']

In [146]:
img_urls.loc[:]

0      https://images.collegedunia.com/public/college...
1      https://images.collegedunia.com/public/college...
2      https://images.collegedunia.com/public/college...
3      https://images.collegedunia.com/public/college...
4      https://images.collegedunia.com/public/college...
                             ...
496    https://images.collegedunia.com/public/college...
497    https://images.collegedunia.com/public/college...
498    https://images.collegedunia.com/public/college...
499    https://images.collegedunia.com/public/college...
500    https://images.collegedunia.com/public/college...
Name: Logo, Length: 501, dtype: object

In [149]:
for idx,i in enumerate(img_urls.iloc[:],1):
    
    res = requests.get(i)
    img_content = res.content
    
    with open(f"Logo\logo_{idx}.jpg", 'wb') as f:
        f.write(img_content)

In [135]:
df.to_csv("college.csv",index=False)

In [30]:
driver.close()

<center> <h1>PROJECT</h1></center>
<center> <h1>Wishing Happy Birthday to your Facebook Friends : </h1></center>

In [84]:
import getpass
from selenium.webdriver.common.keys import Keys

In [53]:
driver= webdriver.Chrome()

In [54]:
driver.get("https://www.facebook.com")

In [55]:
user =driver.find_element(By.ID,"email")
password = driver.find_element(By.ID,"pass")

In [56]:
my_id = getpass.getpass(prompt="Enter the email")
my_pass = getpass.getpass(prompt="Enter the password")

Enter the email········
Enter the password········

In [57]:
user.send_keys(my_id)

In [58]:
password.send_keys(my_pass)

In [59]:
login = driver.find_element(By.NAME,"login")

In [60]:
login.click()

In [66]:
birthday=driver.find_element(By.XPATH,'//*[@id="mount_0_0_ba"]/div/div[1]/div/div[3]/div/div/div[1]/div[1]/div/div[3]/div/div/div[1]/div/div[1]/div/div[2]/div/a/div[1]/div[2]/div/div/div/div/span')

In [67]:
birthday.click()

In [71]:
friend=driver.find_element(By.XPATH,'//*[@id="mount_0_0_ba"]/div/div[1]/div/div[4]/div/div/div[1]/div/div[2]/div/div/div/div[3]/div/div/div')

In [78]:
frnd = friend.find_element(By.TAG_NAME,'form')

In [82]:
message= frnd.find_element(By.CSS_SELECTOR,".xdj266r")
message.send_keys(input("Enter the birthday wishes"))

Enter the birthday wishesHappy Birthday!!!!

In [85]:
message.send_keys(Keys.RETURN)

friends = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[4]/div/div/div[1]/div/div[2]/div/div/div/div[3]/div/div/div/div')
all_friends = friends.find_elements(By.TAG_NAME,'form')
for my_f in list(all_friends):
    messageBox = my_f.find_element(By.CSS_SELECTOR,'.xdj266r')
    messageBox.send_keys("Happy Birthday..!!!")
    messageBox.send_keys(Keys.RETURN)
    time.sleep(3)

In [86]:
driver.close()

<center> <h1>PROJECT</h1></center>
<center> <h1>SENDING MAIL </h1></center>

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import time
import pandas as pd
import re
import getpass
from selenium.webdriver.common.keys import Keys

In [153]:
driver=webdriver.Chrome()

In [154]:
driver.get("https://mail.google.com")